<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dusk City Outlaw Creator</title>
</head>
<body>
    <h1>Dusk City Outlaw Creator</h1>
    <!-- Start for now, will become login button -->
    <!-- have login direct to create character before directing to dashboard -->
    <a href="/characters/new-character">Start</a>
</body>
</html>