<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dusk City Outlaw Creator</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="https://i.imgur.com/YJrsD5Q.jpg" />
</head>
<body>
    <!-- Disclamer: I do not own the rights to Dusk City Outlaws. I am not affiliated with Dusk City Outlaws or Scratch Pad Publishing. All information regarding character types, cartels, and character attributes belong to Dusk City Outlaws and Scratchpad Publishing. This is a personal product designed for personal use. -->
    <div id="titlescreen">
        <h1 id="title">Dusk City <br /> Outlaw Creator</h1>
        <a href="/characters/" class="linkbutton" id="titlebutton">Start</a>
        <a href="/auth/google" class="linkbutton" id="titlebutton">Login With Google</a>
    </div>
</body>
</html>